<form {{action 'save' on='submit'}}>
  {{input type='text' value=name}}
  {{input type='text' value=category}}
  {{input type='text' value=price}}
  {{textarea type='text' value=description}}

  <input type='submit' value='Save'>
</form>
