<form {{action 'save' model on='submit'}}>
<label for="menu-name">Title</label>
  {{input type='text' value=name}}

<label for="menu-category">Category</label>
  {{input type='text' value=category}}

<label for="menu-price">Price</label>
  {{input type='text' value=price}}

<label for="menu-description">Description</label>
  {{textarea type='text' value=description}}

  <input type='submit' value='Save'>
</form>
