<form {{action 'save' on='submit'}}>
  {{input type='text' placeholder="Name" value=name}}
  {{input type='text' placeholder="Category"value=category}}
  {{input type='text' placeholder="Price" value=price}}
  {{textarea type='text' placeholder="Description" value=description}}

  <input type='submit' value='Save'>
</form>
