<form class="updateform"{{action 'save' model on='submit'}}>
<label for="menu-name">Title</label>
  {{input type='text' value=model.name}}

<label for="menu-category">Category</label>
  {{input type='text' value=model.category}}

<label for="menu-price">Price</label>
  {{input type='text' value=model.price}}

<label for="menu-description">Description</label>
  {{textarea type='text' value=model.description}}

  <input type='submit' value='Save'>
</form>



















{{!-- {{menu-form item=model save='save'}} --}}

